body {
	padding-top: 70px;
  background-image:  url('https://static.pexels.com/photos/51343/old-letters-old-letter-handwriting-51343.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 10px;
}

h1 {
	text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 80px;
  color: #f2efe8;
  background-color: #1d2731;
  width: 35%;
  border-radius: 25px;
  font-family: cambria;
}

img {
  display: block;
	margin-right: auto;
	margin-left: auto;
  border:2px solid black;
  border-radius: 3px;
  width:40%;
  height:40%;
}

p {
  background-color: #e2d6b7;
  font-family: cambria;
  font-size: 18px;
	width: 60%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
  padding: 0px 10px 20px 10px;
  border-radius: 5px;
  border: 1px solid #1d2731;
  color: #1d2731;
}

.container {
 width: 1100px;
}

#listcontain {
  background-color: #e2d6b7;
  border-radius: 5px;
  border: 1px solid #1d2731;
  font-family: cambria;
  font-size: 18px;
  padding-top: 5px;
  margin-bottom: 20px;
}

#form {
  margin: auto;
}

/*Gallery*/

#pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
} 

a {
  font-size: 16px; 
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

figcaption {
  color: #1d2731;
  background-color: #e2d6b7;
  font-family: cambria;
  font-size: 18px;
  border-radius: 25px;
  padding: 7px;
  margin-top: 5px;
  border: solid 2px;
  border-color: #1d2731;
}



#gallery {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    width: 400px;
    height:auto;
    overflow: hidden; 
}

div.img:hover {
    border: 1px solid #777;
}

div.desc {
    padding: 15px;
    text-align: center;
    background: #e2d6b7;
    font-family: cambria;
    font-size: 20px;
}

/*End Gallery*/
/*Hover Effect*/
/*.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 55%;
  height: 81%;
  left: 22%;
  top: 10%;
  border-radius: 80%;
  border: 2px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(50%,50%,0);
  transform: translate3d(50%,50%,0);
}

.hovereffect:hover .overlay {
  background-color: rgba(0,0,0,0.3);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="1.4" /><feFuncG type="linear" slope="1.4" /><feFuncB type="linear" slope="1.4" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(1.4);
  -webkit-filter: brightness(1.4);
}

.hovereffect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.hovereffect a, .hovereffect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-150%,-400%,0);
  transform: translate3d(-150%,-400%,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2, .hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}*/
/*End Hover Effect*/